body{
    width: 100%;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin:0%;
    padding: 0%;
    background-color: whitesmoke;
    overflow-x: hidden;
    color: black;
}

.navBar{
    height: 4em;
    background-color: #383d2e;
    border: 1px solid black;
}

nav h1{
    float: left;
    padding-left: 1em;
}

nav ul{
    display: inline-flex;
    list-style: none;
    padding-top: 0.7em;
    float: right;
    padding-right: 1em;
    font-weight: bold;
}

nav ul li{
    padding-right: 1em;
}

.skills{
    width: 100%;
    margin-bottom: 3em;
}
.skills img{
    height: 15em;
    width: auto;
    border: 1px solid black;
    border-radius: 3%;
}
 .skilss-images{
    width: 30%;
 }
.skills h2{
    padding-left: 1em;
}

.skills ul{
    display: inline-flex;
    width: 100%;
   text-align: center;
}

.skills li{
    list-style: none;    
    width: 100%;
}

.aboutMe{
    margin-top: 1em;
    padding-left: 1em;
}

.contact{
    padding-left: 1em;
    
}

   